In [7]:
!pip install pymysql
!pip install pandas
!pip install numpy
!pip install csv

Requirement already satisfied: pymysql in /opt/conda/lib/python3.8/site-packages (0.9.3)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.23.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (1.23.0)
ERROR: Could not find a version that satisfies the requirement csv
ERROR: No matching distribution found for csv

In [6]:
#connect to database

import pymysql
import pandas as pd
import numpy as np
import csv



#def mysqlconnect(): 
    # To connect MySQL database 


  
connection = pymysql.connect(
    # host='192.168.208.1',
    host='192.168.11.6',
    user='root', 
    password='water',
    database='waterdata',
    port=30000)



try:
    with connection.cursor() as cursor:
               
             
        
        sql = ('''  SELECT 
                        `A`.`read_date`, 
                        `A`.`meter_no` AS `bl_meter1`, `A`.`bl_ahd` AS `bl_ahd1`, `A`.`mean_temp` AS `mean_temp1`,
                        `B`.`meter_no` AS `bl_meter2`, `B`.`bl_ahd` AS `bl_ahd2`, `B`.`mean_temp` AS `mean_temp2`,
                        `E`.`meter_no` AS `bl_meter3`, `E`.`bl_ahd` AS `bl_ahd3`, `E`.`mean_temp` AS `mean_temp3`,
                        `F`.`meter_no` AS `bl_meter4`, `F`.`bl_ahd` AS `bl_ahd4`, `F`.`mean_temp` AS `mean_temp4`,
                        `C`.`meter_no` AS `meter_no3`, `C`.`sl_read1` AS `sl_read1`,
                        `D`.`meter_no` AS `meter_no4`, `D`.`rf_read1` AS `rf_read1`,
                        `G`.`meter_no` AS `meter_no5`, `G`.`evaptranspiration` AS `et_read1`, `G`.`solar_radiation` AS `sr_read1`
                    FROM   
                        `groundwater` AS `A`  
                    INNER JOIN
                        `groundwater` `B` ON (`B`.`meter_no` = "GW967137.2.2" AND `B`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `groundwater` `E` ON (`E`.`meter_no` = "GW967138.1.1" AND `E`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `groundwater` `F` ON (`F`.`meter_no` = "GW967138.2.2" AND `F`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `surfacewater` `C` ON (`C`.`meter_no` = "419051" AND `C`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `rainfall` `D` ON (`D`.`meter_no` = "054151-2" AND `D`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `ws_bom` `G` ON (`G`.`meter_no` = "054038" AND `G`.`read_date` = `A`.`read_date` )
                    WHERE  
                        `A`.`meter_no` = "GW967137.1.1" AND `A`.`read_date` NOT BETWEEN '2008-01-31' AND '2008-09-01'
                            AND `A`.`read_date` NOT BETWEEN '2020-12-13' AND '2021-01-01'
                    ''')
        
        
        print(sql)
        df1 = pd.read_sql_query(sql, connection, parse_dates=['read_date','%Y-%m-%d'], coerce_float=True)   # parse_dates=['read_date','%Y-%m-%d'],
        print("here1")
   
except:
    print("Error: unable to convert the data")
    
connection.close()   

print(df1)


df1['bl_ahd1'] = pd.to_numeric(df1['bl_ahd1'])
df1['bl_ahd2'] = pd.to_numeric(df1['bl_ahd2'])

df1['mean_temp1'] = pd.to_numeric(df1['mean_temp1'])
df1['mean_temp2'] = pd.to_numeric(df1['mean_temp2'])

df1['bl_ahd3'] = pd.to_numeric(df1['bl_ahd3'])
df1['bl_ahd4'] = pd.to_numeric(df1['bl_ahd4'])

df1['mean_temp3'] = pd.to_numeric(df1['mean_temp3'])
df1['mean_temp4'] = pd.to_numeric(df1['mean_temp4'])

df1['sl_read1'] = pd.to_numeric(df1['sl_read1'])
df1['rf_read1'] = pd.to_numeric(df1['rf_read1'])

# Feature engineering. 1. Add moving ave for rainfall 2. Add bins every 40 mm of rainfall 3. Drop NaNs

df1['rf_MA'] = (df1['rf_read1'].rolling(window=10).mean())    # Tried values of 90, 30, 120

df1['rf_bin'] = pd.cut(
    df1['rf_read1'],
    bins=[0,20,40,60,80,100,120,140,160],                             
    labels=['1','2','3','4','5','6','7','8']
#    include_lowest=True
    )

df1.dropna(inplace=True)

all_training_data = '/home/jovyan/work/model/training_data/rf_training_data1.csv'

with open(all_training_data, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile,dialect='excel')
        
        fields = ['read_date','sl_read1','bl_meter1','bl_ahd1','mean_temp1','bl_meter2','bl_ahd2','mean_temp2','bl_meter3','bl_ahd3','mean_temp3','bl_meter4','bl_ahd4','mean_temp4','sl_meter','rf_meter','rf_read1','rf_MA','rf_bin','et_read1','sr_read1'] 
        
        writer.writerow(fields)

        for i in range(len(df1)):
            

            row = [df1.iloc[i,0],df1.iloc[i,14],df1.iloc[i,1], df1.iloc[i,2],df1.iloc[i,3],df1.iloc[i,4],df1.iloc[i,5],
            df1.iloc[i,6],df1.iloc[i,7],df1.iloc[i,8],df1.iloc[i,9],df1.iloc[i,10],
            df1.iloc[i,11],df1.iloc[i,12],df1.iloc[i,13],df1.iloc[i,15],df1.iloc[i,16],df1.iloc[i,17],df1.iloc[i,18],df1.iloc[i,19],df1.iloc[i,20]]
            


            writer.writerow(map(lambda x: x, row))

  SELECT
                        `A`.`read_date`,
                        `A`.`meter_no` AS `bl_meter1`, `A`.`bl_ahd` AS `bl_ahd1`, `A`.`mean_temp` AS `mean_temp1`,
                        `B`.`meter_no` AS `bl_meter2`, `B`.`bl_ahd` AS `bl_ahd2`, `B`.`mean_temp` AS `mean_temp2`,
                        `E`.`meter_no` AS `bl_meter3`, `E`.`bl_ahd` AS `bl_ahd3`, `E`.`mean_temp` AS `mean_temp3`,
                        `F`.`meter_no` AS `bl_meter4`, `F`.`bl_ahd` AS `bl_ahd4`, `F`.`mean_temp` AS `mean_temp4`,
                        `C`.`meter_no` AS `meter_no3`, `C`.`sl_read1` AS `sl_read1`,
                        `D`.`meter_no` AS `meter_no4`, `D`.`rf_read1` AS `rf_read1`,
                        `G`.`meter_no` AS `meter_no5`, `G`.`evaptranspiration` AS `et_read1`, `G`.`solar_radiation` AS `sr_read1`
                    FROM
                        `groundwater` AS `A`
                    INNER JOIN
                        `groundwater` `B` ON (`B`.`meter_no` = "GW967137.2.2" AND `B`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `groundwater` `E` ON (`E`.`meter_no` = "GW967138.1.1" AND `E`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `groundwater` `F` ON (`F`.`meter_no` = "GW967138.2.2" AND `F`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `surfacewater` `C` ON (`C`.`meter_no` = "419051" AND `C`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `rainfall` `D` ON (`D`.`meter_no` = "054151-2" AND `D`.`read_date` = `A`.`read_date` )
                    INNER JOIN
                        `ws_bom` `G` ON (`G`.`meter_no` = "054038" AND `G`.`read_date` = `A`.`read_date` )
                    WHERE
                        `A`.`meter_no` = "GW967137.1.1" AND `A`.`read_date` NOT BETWEEN '2008-01-31' AND '2008-09-01'
                            AND `A`.`read_date` NOT BETWEEN '2020-12-13' AND '2021-01-01'

here1
      read_date     bl_meter1  bl_ahd1  mean_temp1     bl_meter2  bl_ahd2  \
0    2009-01-01  GW967137.1.1  252.976      19.700  GW967137.2.2  251.021
1    2009-01-02  GW967137.1.1  252.972      19.700  GW967137.2.2  251.009
2    2009-01-03  GW967137.1.1  252.968      19.700  GW967137.2.2  250.998
3    2009-01-04  GW967137.1.1  252.967      19.696  GW967137.2.2  250.996
4    2009-01-05  GW967137.1.1  252.967      19.692  GW967137.2.2  250.999
...         ...           ...      ...         ...           ...      ...
4827 2022-07-19  GW967137.1.1  252.984      20.000  GW967137.2.2  251.698
4828 2022-07-20  GW967137.1.1  252.976      20.000  GW967137.2.2  251.691
4829 2022-07-21  GW967137.1.1  252.971      20.000  GW967137.2.2  251.691
4830 2022-07-22  GW967137.1.1  252.967      20.000  GW967137.2.2  251.694
4831 2022-07-23  GW967137.1.1  252.964      20.000  GW967137.2.2  251.697

      mean_temp2     bl_meter3  bl_ahd3  mean_temp3     bl_meter4  bl_ahd4  \
0           20.5  GW967138.1.1  280.962      20.700  GW967138.2.2  279.009
1           20.5  GW967138.1.1  280.948      20.700  GW967138.2.2  279.001
2           20.5  GW967138.1.1  280.933      20.700  GW967138.2.2  278.993
3           20.5  GW967138.1.1  280.923      20.685  GW967138.2.2  278.993
4           20.5  GW967138.1.1  280.915      20.600  GW967138.2.2  278.998
...          ...           ...      ...         ...           ...      ...
4827        20.1  GW967138.1.1  284.070      19.966  GW967138.2.2  281.217
4828        20.1  GW967138.1.1  284.062      19.941  GW967138.2.2  281.210
4829        20.1  GW967138.1.1  284.056      19.890  GW967138.2.2  281.209
4830        20.1  GW967138.1.1  284.051      19.849  GW967138.2.2  281.212
4831        20.1  GW967138.1.1  284.045      19.816  GW967138.2.2  281.214

      mean_temp4 meter_no3  sl_read1 meter_no4  rf_read1 meter_no5  et_read1  \
0         21.100    419051     0.190  054151-2       0.0    054038       7.8
1         21.100    419051     0.190  054151-2       0.0    054038       7.8
2         21.100    419051     0.190  054151-2       3.0    054038       8.1
3         21.100    419051     0.190  054151-2       0.0    054038       7.7
4         21.100    419051     0.189  054151-2       0.0    054038       8.6
...          ...       ...       ...       ...       ...       ...       ...
4827      20.757    419051     0.259  054151-2       0.0    054038       2.4
4828      20.749    419051     0.245  054151-2       0.2    054038       3.4
4829      20.744    419051     0.224  054151-2       0.0    054038       3.8
4830      20.759    419051     0.254  054151-2       0.0    054038       3.9
4831      20.745    419051     0.193  054151-2       0.0    054038       3.4

      sr_read1
0        29.79
1        28.84
2        28.03
3        31.58
4        32.52
...        ...
4827     13.71
4828     11.76
4829     12.58
4830     13.91
4831     13.78

[4832 rows x 20 columns]